<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<head>

<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="row flex-nowrap">
						<form class="row g-3" role="form" method="post" 
							enctype="multipart/form-data" th:object="${profileFormDto}">
							<input type="hidden" name="memberId" id="memberId"
								value="${member.id}" />
								<div class="modal-header">
									<h1 class="modal-title fs-5 profile-update-title"
										id="staticBackdropLabel" style="padding-left: 190px;">프로필
										편집</h1>
								</div>
								<div class="modal-body">
									</div>
									<div class="profile-update2">
										<div class="profile-nickname-update">
											<div class="profile-nickname-title">닉네임 수정</div>
											<input type="text"
												th:field="*{nickname}" class="profile-user-nickname">
										</div>
										<div class="profile-aboutme-update">
											<div class="profile-aboutme-title">자기소개</div>
											<input type="text" placeholder="간단한 한줄로 나를 소개해보세요"
												th:field="*{introWriting}" class="profile-user-aboutme">
										</div>
									</div>

								<div class="profile-save-btn">
									<button type="submit" class="save-btn">저장</button>
								</div>
								<input type="hidden" th:name="${_csrf.parameterName}"
						th:value="${_csrf.token}">
						</form>
					</div>
			</div>
		</div>
</body>
</html>