<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<head>

<meta charset="UTF-8">
<title>Insert title here</title>

<script>
	function onClickUpload() {
		let myInput = document.getElementById("my-input");
		myInput.click();
	}
	
	  function bindDomEvent(){
          $(".custom-file-input").on("change", function() {
              var fileName = $(this).val().split("\\").pop();  //이미지 파일명
              var fileExt = fileName.substring(fileName.lastIndexOf(".")+1); // 확장자 추출
              fileExt = fileExt.toLowerCase(); //소문자 변환

              if(fileExt != "jpg" && fileExt != "jpeg" && fileExt != "gif" && fileExt != "png" && fileExt != "bmp"){
                  alert("이미지 파일만 등록이 가능합니다.");
                  return;
              }

              $(this).siblings(".custom-file-label").html(fileName);
          });
      }
</script>



</head>
<body>
	<form th:object="${profileFormDto}" role="form" method="get">
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="row flex-nowrap">
				<main class="col-9 py-md-3 pl-md-5 bd-content" role="main">
					<div class="profile-info">
						<!-- Button trigger modal -->
						<button type="button" class="profile-update" onclick="location.href='/profile/update'">프로필 편집</button>

						<div class="profile-main1">
						<ul class="profileform-profile-info">
							<li class="profileform-profile-img"><img alt="프로필 사진"
								src="/images/usericon.png" style="width: 150px;"></li>
							<li class="profileform-nickname">[[${member.nickname}]] </li>
							<li class="profileform-userid">[[${member.email}]]</li>
						</ul>						
						</div>
						<div class="profile-main2">
							<ul class="count">
								<li class="count-li">
								<div class="following-count">5</div>
								<div class="count-name1">팔로잉</div>
								</li>
								<li class="count-li">
								<div class="follower-count">0</div>
								<div class="count-name2">팔로워</div>								
								</li>
								<li class="count-li">
								<div class="story-count">1</div>
								<div class="count-name3">스토리</div>								
								</li>
							</ul>
							<ul class="select-profile" style="padding-left: 0px;">
							<li class="profile-story" style="background-color: #ECECEC"><h6 class="profile-h6">스토리</h6></li>
							<li class="profile-like" onclick="location.href='/profile/profileLikeForm'"><h6 class="profile-h6">좋아요</h6></li>
							</ul>
						</div>
						<div class="profile-main3">
							<div class="profile-story-list">
								<th:block class="profile-story-card" th:each="story, status: ${storys}">	
									<div class="profile-story-writing"><span></span> </div>
								</th:block>
							</div>
						</div>
					</div>
					


				</main>
				<div class="col-3 bd-sidebar">
					<ul class="nav">
						<li><a class="side-menu" id="story" href="/"> <img alt="스토리이미지"
								src="/images/home.png" width="40px" class="side-img">
								<div class="side-font">스토리</div></a></li>
						<li><a class="side-menu" id="profile"
							style="background-color: #ECECEC"> <img alt="프로필이미지"
								src="/images/profile.png" width="40px" class="side-img">
								<div class="side-font">프로필</div></a></li>
						<li><a class="side-menu" id="follow"> <img alt="팔로우이미지"
								src="/images/follow.png" width="40px" class="side-img">
								<div class="side-font">팔로우</div></a></li>
					</ul>
					<div class="side-menu2">
						<div class="side-menu2-font">추천계정</div>
					</div>

					<footer> 김명현 개인 프로젝트 https://github.com/myeonghyeonKim0922
					</footer>
					<br>
				</div>
			</div>
		</div>
	</div>
</form>

</body>
</html>