<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
	<div th:fragment="header">
		<div class="header_div">

			<nav class="navbar navbar-expand-lg"
				style="background-color: #ffffff; padding-bottom: 0px; padding-top: 10px">
				<div class="container-fluid" id="header">
					<a class="navbar-brand" href="/"><img alt="Logo"
						src="/images/logo.png" width="40" class="logo_img">GLP</a>
					<form class="d-flex" role="search">
						<input class="form-control me-2" type="search"
							placeholder="    계정 및 스토리 검색" aria-label="Search">
					</form>

					<button type="button" class="btn-login"
						sec:authorize="isAnonymous()"
						onclick="location.href='/members/login'">로그인</button>
					<button class="btn-logout" type="button" onclick="location.href='/members/logout'"
						sec:authorize="isAuthenticated()">로그아웃</button>
				</div>
			</nav>
		</div>
	</div>

</body>
</html>